@font-face {
    font-family: 'Gilroyextrabold';
    src: url('gilroyextrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroylight';
    src: url('gilroylight-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open_sanslight';
    src: url('opensans-light-webfont.woff2') format('woff2'));
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open_sansregular';
    src: url('opensans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 740;
  color: #000000;

  background-color: #ffffff;
}
a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #f0c52e;
  border: none;
}

.main-navigation-search {
  font-family: "Open_sanslight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.button-search {
  background-color: #f7e296;
  border: 2px solid: #000000;
}

.button-search:hover,
.button-search:focus{
  color: #ffffff;
  background-color: #000000;
}

.button-search:focus{
  color: rgba(255, 255, 255, 0.3);
}

.main-navigation-user {
  font-family: "Open_sanslight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.main-logo {
  font-size: 48px;
  line-height: 48px;
}

.main-navigation-site {
  font-size: 18px;
  line-height: 24px;
}

.main-navigation-user,
.main-navigation-site{
  list-style: none;
}

.main-navigation-user a,
.main-navigation-site a{
  color: #000000;
}

.main-navigation-user a:hover,
.main-navigation-site a:hover {
  opacity: 0.4;
}

.main-navigation-user a:focus,
.main-navigation-site a:focus {
  opacity: 0.7;
}

.button-catalog-open{
  background-color: #f7e296;
}

.main-navigation {
  background-color:#f7e296;
}

.advantages-list {
  list-style: none;
}

.advantages-heading {
  font-size: 47px;
  line-height: 56px;
}

.advantages-text {
  font-family: "Open_sanslight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.parametrs-huge {
  font-family: "Gilroylight", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
}

.parametrs-low {
  font-family: "Open_sanslight", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.advantages-button {
}

.main-catalog-list {
  list-style: none;
}

.main-catalog-item a{
  color: #000000;
}

.main-catalog-item img {
  background-color:#f7e296;
}

.main-catalog-item img:hover{
  background-color: #f0c52e;
}

.main-catalog-item a:focus{
  opacity: 0.3;
}

.delivery-hidden{
  font-size: 47px;
  line-height: 48px;
}

.delivery-navigation b{
  font-size: 18px;
  line-height: 24px;
  background-color: #000000;
  color: #f7e184;
}

.delivery-navigation-list{
  list-style: none;
}

.delivery-navigation-list a{
  color: #000000;
}
