@font-face {
    font-family: 'Gilroyextrabold';
    src: url('../fonts/Gilroyextrabold/gilroyextrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroylight';
    src: url('../fonts/Gilroylight/gilroylight-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open_sanslight';
    src: url('../fonts/OpenSans-Light/opensans-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open_sansregular';
    src: url('../fonts/OpenSans-Regular/opensans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 740;
  color: #000000;

  background-color: #ffffff;
}

ul{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* Main css*/

.main-header{
  margin: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 2px solid #000;
}

.navigation{
  background-color:#f7e296;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation-site-device{
  font-size: 48px;
  line-height: 48px;
  outline: 2px solid #000;

  align-items: flex-start;
  margin: 0 0 -24px 0;
  padding: 0;
  width: 222px;
}

.search{
  font: inherit;
  text-align: left;
  color: #ffffff;
  vertical-align: middle;

  background-color: #f7e296;
  border: none;

  opacity: 0.4;
}

.search:hover{
  opacity: 0.7;
}

.search:focus{
  opacity: 1;
}

.button {
  font: inherit;

  font-size: 18px;
  line-height: 24px;

  text-align: center;
  color: #000000;
  vertical-align: middle;

  background-color: #f0c52e;
  border: none;
}

.button:focus{
  background-color: #000000;
  color: rgb(66, 61, 35);
}

.navigation-search {
  font-family: "Open_sanslight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;

  align-items: flex-start;
  margin: 50px 60px 0 60px;
  padding: 0;
  width: 462px;
  outline: 2px solid #000;
}

.button-search {
  background-color: #f7e296;
  border: 2px solid #000000;
}

.button-search:hover,
.button-search:focus{
  color: #ffffff;
  background-color: #000000;
}

.button-search:focus{
  color: rgba(255, 255, 255, 0.3);
}

.navigation-user {
  font-family: "Open_sanslight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;

  align-items: flex-end;
  margin: 50px 60px 0 60px;
  padding: 0;
  width: 520px;
  outline: 2px solid #000;
}

.navigation-search-and-user{
  width: 100%;
  margin: 0;
}

.navigation-container{
  margin: 0 auto;
  padding: 0 10px;
}

.navigation-search-and-user .navigation-container{
  display: flex;
  justify-content: space-between;
}

.navigation-site {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  outline: 2px solid #000;

  margin: 52px 60px 0 60px;
  padding: 0;
}

.navigation-catalog{
  font-family: "Open_sanslight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  outline: 2px solid #000;

  margin: 60px 60px 168px 60px;
  padding: 0;
  width: 722px;
}

.navigation-user,
.navigation-site,
.navigation-catalog,
.navigation-site-device{
  list-style: none;
}

.navigation-user a,
.navigation-site a,
.navigation-catalog a,
.navigation-site-device a{
  color: #000000;
}

.navigation-user a:hover,
.navigation-site a:hover,
.navigation-catalog a:hover,
.navigation-site-device a:hover {
  opacity: 0.7;
}

.navigation-user a:focus,
.navigation-site a:focus,
.navigation-catalog a:focus,
.navigation-site-device a:focus{
  opacity: 0.4;
}

.button-catalog-open{
  background-color: #f7e296;
  opacity: 0.7;
}

.button-catalog-open:focus{
  opacity: 0.4;
  background-color: #f7e296;
}

.advantages{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages-list {
  list-style: none;

  display: flex;
  align-items: center;
}

.advantages-list-text{
  margin: -150px 0 0 120px;
  order: 1;

  outline: 2px solid #000;
}

.advantages-list-img{
  margin: -120px 0 0 0;

  outline: 2px solid #000;
}

.advantages-heading {
  font-size: 47px;
  line-height: 56px;
}

.advantages-text {
  font-family: "Open_sanslight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.parametrs-huge {
  font-family: "Gilroylight", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
}

.parametrs-low {
  font-family: "Open_sanslight", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.advantages-button:focus{
  background-color: rgba(240, 197, 46, 0.4);
}

.main-catalog-list {
  font-size: 18px;
  line-height: 24px;
  list-style: none;

  margin: 110px 0 0 0;

  display: flex;
  align-items: center;
}

.main-catalog-item{
  width: 160px;
  margin: 0 40px 0 0;
}

.main-catalog-item a{
  color: #000000;
}

.main-catalog-item img {
  background-color:#f7e296;
}

.main-catalog-item img:hover{
  background-color: #f0c52e;
}

.main-catalog-item a:focus{
  opacity: 0.4;
}

.delivery{
  background-color: rgb(229, 229, 229);
  height: 288px;
  margin: 88px 0 0 0;

  display: flex;
}
.delivery-hidden{
  font-size: 47px;
  line-height: 48px;
}

.delivery-navigation b{
  font-size: 18px;
  line-height: 24px;
  background-color: #000000;
  color: #f7e184;
}

.delivery-navigation-list{
  list-style: none;
}

.delivery-navigation-list a{
  color: #000000;
}

.delivery-column{
  display: flex;
  flex-direction: column;
  margin: 0 100px 0 120px;
}

.delivery-text {
  font-family: "Open_sanslight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.brand-list{
  list-style: none;
  margin: 117px 0 0 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.brand li{
  opacity: 0.4;
}

.brand li:hover{
  opacity: 1;
}

.contacts-about-me{
  font-size: 47px;
  line-height: 48px;
}

.contacts-text {
  font-family: "Open_sanslight", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
}

.footer{  
  background-color: rgb(70, 70, 70);
}
.footer-button-DEVICE{
  font-family: "Gilroyextrabold", Arial, sans-serif;
  color: rgb(255, 198, 0);
}

.footer-button-DEVICE:hover{
  opacity: 0.7;
}

.footer-button-DEVICE:focus{
  opacity: 0.4;
}

.footer-text,
.footer-contacts{
  font-family: "Open_sanslight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}

.footer-navigation-delivery{
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation-user{
  font-family: "Open_sanslight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}

.footer-navigation-delivery,
.footer-navigation-social,
.footer-navigation-user,
.footer-logo-html{
  list-style: none;
}

.footer-navigation-delivery a,
.footer-navigation-user a{
  color: #ffffff;
}

.footer-navigation-social a{
  opacity: 0.7;
}

.footer-navigation-social a:hover{
  opacity: 1;
}

.footer-navigation-delivery a:hover,
.footer-navigation-user a:hover,
.footer-logo-html:hover{
  opacity: 0.7;
}

.footer-navigation-delivery a:focus,
.footer-navigation-user a:focus,
.footer-navigation-social a:focus,
.footer-logo-html:focus {
  opacity: 0.4;
}

.footer-navigation-user img{
  color: rgb(255, 198, 0);
}

.footer-contacts{
  font-family: "Open_sanslight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}

/* catalog css*/

.advantages-hidden{
  font-size: 47px;
  line-height: 48px;
}

.lenta{
  list-style: none;
}

.lenta a{
  color: #000000;
}

.lenta-list{
  font-family: "Open_sanslight", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;

  opacity: 0.7;
}

.lenta-list:hover{
  opacity: 1;
}

.lenta-list:focus{
  opacity: 0.4;
}

.filtare-hidden{
  font-size: 16px;
  line-height: 24px;

  background-color: rgb(219, 219, 219);
}

.filtare-range,
.filter-nav-hidden{
  font-size: 18px;
  line-height: 24px;
}

.filtare-nav{
  font-family: "Open_sanslight", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;

  list-style: none;
}

.filtare-rgb{
  background-color: rgb(239, 239, 239);
}

.monopod{
  background-color: rgb(239, 239, 239);
}
.monopod-hidden{
  font-size: 16px;
  line-height: 24px;
}

.monopod-nav{
  list-style: none;
}

.monopod-nav a{
  font-family: "Open_sansregular", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;

  color: #000000;

  opacity: 0.4;
}

.monopod-nav a:hover{
  opacity: 0.7;
}

.monopod-nav a:focus{
  opacity: 1;
}

.catalog-list{
  list-style: none;
}

.catalog-text{
  font-size: 18px;
  line-height: 24px;
}

.catalog-cost{
  font-family: "Gilroylight", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.catalog-page-nav{
  background-color: rgb(239, 239, 239);
}

.catalog-button-nav{
  font: inherit;

  font-size: 16px;
  line-height: 24px;

  text-align: center;
  color: #000000;
  vertical-align: middle;

  background-color: rgb(235, 235 , 235);
  border: none;
}

.button-number{
  opacity: 0.7;
}
